body {
	background-color: #F3F3F3;
	font-family: 'Arvo', serif;
}

.header, .footer {
	background-color: #E8634E;
}

.header-top li {
	display: inline-block;
	list-style-type: none;
	color: white;
	font-size: 17px;
}

.header-top ul {
	padding-left: 0px;
	padding-top: 10px;
}

.left-text a, 
.icons a,
.header-top a,
.button p:hover,
.button p:focus {
	color: #F3F3F3;
}

.header-top, .content {
	width: 100%;
    max-width: 960px;
    height: 100%; 
    margin: 0 auto;
}

.content .row {
	margin-left: 0px;
	margin-right: 0px;
}

.image {
	width: 100%;
	height: 330px;
	margin: 0px auto;
}

.image img {
	max-width:65%;
	max-height:65%;
	margin: 100px auto 0px;
}

.image div {
	color: #E8634E;

}

.colon1 {
	font-size: 40px;
}

.colon2 {
	font-size: 25px;
}

.about {
	height: 2px;
	width: 100%;
	background-color: #C6C4AD;
	margin-top: 40px;
	position: absolute;
	left: 0px;
}

.line p {
	width: 50px;
	margin:auto;
	height: 100%;
	background-color: white;
	color: #E8634E;
	position: relative;
    top: 24px;
    width: 140px;
    text-align: center;
    font-size: 26px;
}

.button {
	border-radius: 5px;
	width: 200px;
	background-color: #F3F3F3;
	border: 1px solid #E8634E;
	margin: 42px auto;
}

.button:hover, .button:focus {
	background-color: #E8634E;
	-webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -ms-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
}

.button p {
	text-align: center;
	margin: 7px;
	color: #E8634E;
}

.button a {
	color: #F3F3F3;
	text-decoration: none;
}

.delimiter {
	width: 30%;
    height: 1px;
    background-color: #E8634E;
    margin: 0px auto;
}

.text p {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #E8634E;
	font-size: 15px;
}

.text h4 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #E8634E;
}

.line .portfolio {
	width: 50px;
	margin:auto;
	height: 100%;
	background-color: white;
	position: relative;
    top: 24px;
    width: 200px;
    text-align: center;
    font-size: 26px;
}

.portfolio {
	margin-top: 80px;
	margin-bottom: 80px;
	padding-left: 0px;
	padding-right: 0px;
}

.project {
	margin-top: 40px;
	margin-bottom: 20px;
}

.project img {
	width: 60%;
	border: solid 1px #C6C4AD;
}

.dot-view {
	margin-top: 20px;
	margin-bottom: 40px;
}

.slideshow-container {
	width: 80%;
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 70px;
	color: #E8634E;
	font-weight: bold;
	font-size: 30px;
	transition: 0.6s ease;
}

.prev {
	left: -100px;
}

.next {
	right: -100px;
}

.prev:hover, .next:hover {
  	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

.dot {
	cursor:pointer;
	height: 10px;
	width: 10px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  	background-color: #717171;
}

.fadein {
	-webkit-animation: fade 1.5s ; /* Chrome, Safari, Opera */
    animation: fade 1.5s ;
   	position: relative;
}

@-webkit-keyframes fade {
	from {opacity: 0} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: 0} 
	to {opacity: 1}
}

.fadein>div> {
	position: relative;
}

.description h3 {
	font-size: 25px;
}

.description a {
	color: #E8634E;
}

.description a:hover {
	 color: rgba(0,0,0,0.8);
	 transition: 0.6s ease;
	 cursor: pointer;
}

.description {
	padding: 0px;
	color: #717171;
	font-size: 15px;
}

.line {
	margin-top: 30px;
	margin-bottom: 40px;
}

.line .contact {
	width: 50px;
	margin: auto;
	height: 100%;
	background-color: #33384c;
	position: relative;
    top: 24px;
    width: 200px;
    text-align: center;
    font-size: 26px;
}

.about-last-line {
	height: 2px;
	width: 100%;
	background-color: #F3F3F3;
	margin-top: 40px;
	position: absolute;
	left: 0px;
}

.footer-bottom {
	margin-top: 40px;
	width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.title {
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 30px;
	color: white;
}

.mail {
	color: white;
	margin-bottom: 0px;
    margin-top: 20px;
}

.twitter {
	margin-left: 20px;
	margin-right: 20px;
}

.sent-message {
	padding-right: 2px;
}

.sent-message input {
	margin-bottom: 6px;
}

.message-field {
	padding-right: 2px;
}

.sent-button button {
	color:#E8634E;
	margin-top: 10px;
}

.message-field div {
	float: right;
    padding-top: 6px;
}

.postnote {
	margin-top: 60px;
	color: white;
}

.thank-you {
	text-align: center;
	color: #E8634E;
}

.thank-you h1 {
	margin: 80px;
}

.thank-you div {
	margin: 30px;
}

.thank-you a {
	font-size: 20px;
	color: #E8634E;
	text-decoration: none;
}

.thank-you img {
	margin: auto;
}

@media only screen and (max-width: 990px) {
	.colon1 {
		font-size: 45px;
	}

	#about, 
	#myportfolio, 
	#mycontact {
		padding-top: 10px;
	}

	.sent-message, .message-field {
		width: 50%;
		margin: 0 auto;
	}

	.image img {
		margin: 130px auto 0px;
	}

	.prev, .next {
		top: 120px;
	}

	.prev {
		left: -20px;
	}

	.next {
		right: -20px;
	}
}

@media only screen and (max-width: 1000px) {

	.slideshow-container {
		text-align: center;
	}

	.project img {
	    width: 40%;
	    margin: 0 auto;
	}
}